<head>
  <title>Pagination: a paginacao</title>
</head>

<body>
  <header>
    <h1 style="text-align:center">Paginate</h1>
  </header>
  <section id="paginate">

    <ul class="list">
      <li *ngFor= "let item of itensShow(3*(valueReturner().value-1),3*valueReturner().value)">{{item}}</li>
    </ul>
    
    <div id="pagination">
      <div class="first" (click) = firstItem()>&#171;</div>
      <div class="prev" (click) = 'prevItem()'><</div>
      <div class="numbers">
        <div [ngClass] ="valueReturner()">{{valueReturner().value}}</div>
      </div>
      <div class="next" (click) = nextItem()>></div>
      <div class="last"(click) = lastItem()>&#187;</div>
    </div>
  </section>
</body>